

      <div class="page-content">
          <div class="container-fluid">

              <!-- start page title -->
     

              <div class="row"> 
       
      <!-- End Page-content -->

      <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                   
                <div class="row mb-3 pb-1">
                    <div class="col-xl-2">
                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                            <div class="flex-grow-1">
                                <h4 class="fs-16 mb-1">     !</h4>
                               
                            </div>
                         
                        </div><!-- end card header -->
                    </div>


                    <div class="col-xl-10">
                      
                    <div id="custom-progress-bar" class="progress-nav mb-4">
                        <div class="progress" style="height: 1px;">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <ul class="nav nav-pills progress-bar-tab custom-nav" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill active" data-progressbar="custom-progress-bar" id="pills-gen-info-tab" data-bs-toggle="pill" data-bs-target="#pills-gen-info" type="button" role="tab" aria-controls="pills-gen-info" aria-selected="true">Asses</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-info-desc-tab" data-bs-toggle="pill" data-bs-target="#pills-info-desc" type="button" role="tab" aria-controls="pills-info-desc" aria-selected="false">Define</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success" type="button" role="tab" aria-controls="pills-success" aria-selected="false">Report</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill " data-progressbar="custom-progress-bar" id="pills-gen-info-tab" data-bs-toggle="pill" data-bs-target="#pills-gen-info" type="button" role="tab" aria-controls="pills-gen-info" aria-selected="true">Input data & Collaborate</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-info-desc-tab" data-bs-toggle="pill" data-bs-target="#pills-info-desc" type="button" role="tab" aria-controls="pills-info-desc" aria-selected="false">Design Report</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success" type="button" role="tab" aria-controls="pills-success" aria-selected="false">Preview</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill " data-progressbar="custom-progress-bar" id="pills-gen-info-tab" data-bs-toggle="pill" data-bs-target="#pills-gen-info" type="button" role="tab" aria-controls="pills-gen-info" aria-selected="true">Validate</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill" data-progressbar="custom-progress-bar" id="pills-info-desc-tab" data-bs-toggle="pill" data-bs-target="#pills-info-desc" type="button" role="tab" aria-controls="pills-info-desc" aria-selected="false">Generate</button>
                            </li>
                           
                        </ul>
                    </div>
                    </div>
                    <!--end col-->
                </div>

                

                </div><!-- end card header -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card">
                        
                            <div class="card-body form-steps">
                                <form action="#">
                                    <div data-simplebar data-simplebar-auto-hide="false" data-simplebar-track="success" style="max-height: 274px;">
                                        <div class="d-flex align-items-center mb-2">
                                          
                                            <div class="flex-grow-1">
                                                <h5 class="gen-org fs-16 mb-0 fw-semibold">General Disclosures</h5>
                                            </div>
                                        </div>
                
                                        <!-- Accordions with Icons -->
                                        <div class="accordion custom-accordionwithicon" id="accordionWithicon">
                                            <div class="accordion-item">
                                                
                                                
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_iconExamplecollapse1" aria-expanded="true" aria-controls="accor_iconExamplecollapse1">
                                                        <i class="org-global ri-global-line"></i><h3 class="org-text">Organization Details</h3> 
                                                    </button>
                                               
                
                                            <!-- Default dropdown -->
                                                <div id="accor_iconExamplecollapse1" class="accordion-collapse collapse show" aria-labelledby="accordionwithiconExample1" data-bs-parent="#accordionWithicon">
                                                    <!-- Left Icon Accordions -->
                                                        <div class="accordion lefticon-accordion custom-accordionwithicon accordion-border-box" id="accordionlefticon">
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="accordionlefticonExample1">
                                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_lefticonExamplecollapse1" aria-expanded="true" aria-controls="accor_lefticonExamplecollapse1">
                                                                        What is User Interface Design?
                                                                    </button> 
                                                                </h2>
                                                                <div id="accor_lefticonExamplecollapse1" class="accordion-collapse collapse show" aria-labelledby="accordionlefticonExample1" data-bs-parent="#accordionlefticon">
                                                                <ul>
                                                                    <li style="list-style: none;">
                                                                        <table id="orange" class="table" style="text-align: left;">
                                                                            <thead  >
                                                                            <tr *ngFor="let o of templatedata"> 
                                                                                <td>  <input type="checkbox" class="form-check-input" id="same-address" (click)="display(o.Id)"> </td>
                                                                                <td scope="col">{{o.Code}}</td>
                                                                                    <td data-toggle="collapse" data-target="#collapseOne" scope="col">{{o.TemplateSubMenuName}}</td>
                                                                                   
                                                                            </thead>
                                                                        </table>
                                                                    </li>
                                                                </ul> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- end card body -->
                            
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->





                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-wrap"style="width: 600px;" *ngIf="templateitemdata">
                                <div class="" >
                                  
                                  <div class="">
                                    <div class="" >
                                      <div class="card-text-content">
                                        <div class="row" *ngIf="displaydata">
                                            <table id="orange" class="table" style="text-align: left;">
                                              <thead  >
                                                <tr *ngFor="let i of templateitemdata"> 

                                                    
                                                  <td class="org-name1" scope="col">{{i.Code}}</td>
                                                  <th>Name of Organization</th>
                                                  
                                                  <td  scope="col"></td>
                                                  </tr>
                                                </thead>
                                            </table> 



                                            <div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary" id="accordionBordered">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="accordionborderedExample1">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapse1" aria-expanded="true" aria-controls="accor_borderedExamplecollapse1">
                                                            Reporting Requirements
                                                        </button>
                                                    </h2>
                                                    <div id="accor_borderedExamplecollapse1" class="accordion-collapse collapse show" aria-labelledby="accordionborderedExample1" data-bs-parent="#accordionBordered">
                                                        <div class="accordion-body">
                                                            The reporting organization shall report the following information: a. Name of the organization.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item mt-2">
                                                    <h2 class="accordion-header" id="accordionborderedExample2">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapse2" aria-expanded="false" aria-controls="accor_borderedExamplecollapse2">
                                                            Additional Reporting Requirements
                                                        </button>
                                                    </h2>
                                                    <div id="accor_borderedExamplecollapse2" class="accordion-collapse collapse" aria-labelledby="accordionborderedExample2" data-bs-parent="#accordionBordered">
                                                        <div class="accordion-body">
                                                            No additional guidance provided.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item mt-2">
                                                    <h2 class="accordion-header" id="accordionborderedExample3">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapse3" aria-expanded="false" aria-controls="accor_borderedExamplecollapse3">
                                                            Reporting Recommendations
                                                        </button>
                                                    </h2>
                                                    <div id="accor_borderedExamplecollapse3" class="accordion-collapse collapse" aria-labelledby="accordionborderedExample3" data-bs-parent="#accordionBordered">
                                                        <div class="accordion-body">
                                                            No additional guidance provided.
                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item mt-2">
                                                    <h2 class="accordion-header" id="accordionborderedExample4">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapse4" aria-expanded="false" aria-controls="accor_borderedExamplecollapse3">
                                                            Reporting Guidance
                                                        </button>
                                                    </h2>
                                                    <div id="accor_borderedExamplecollapse4" class="accordion-collapse collapse" aria-labelledby="accordionborderedExample4" data-bs-parent="#accordionBordered">
                                                        <div class="accordion-body">
                                                            No additional guidance provided.
                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>





                                            <table id="orange" class="table" style="text-align: left;">
                                                <thead  >
                                             


                                                    <tr>
                                                  
                                                        <td><button type="button" class="org-btn1 btn  waves-effect waves-light">Upload Evidence <i class="ri-file-add-fill"></i></button></td>
                                                 

                                               
                                                  
                                                        
                                                      </tr>


                                                    
                                                  </thead>
                                              </table> 


                                               

                                                  <div>
                                                    <textarea class="form-control" id="meassageInput" rows="3" placeholder="Enter your message"></textarea>
                                                    
                                                  
                                                </div>

                                             
                                       

                                            <!-- Accordions Bordered -->




                                            </div>
                                      </div>
                                      </div>
                                  </div>
                                  
                                </div>
                          
                               
                                </div>
          
          
          
                                
              
                       
          
          
          
                          <div class="col-xl-6 col-lg-6" *ngIf="!templateitemdata" style="        padding: 140px 0px 200px 40px; margin-left: 160px;" >
                              <div class="mt-3">
                                  <div class=" text-center">
                                      <div class="avatar-sm mx-auto mb-3">
                                          <div class="avatar-title bg-soft-success text-success fs-17 rounded">
                                            <i class="ri-cursor-line"></i>
                                          </div>
                                      </div>
                                      <h4 class="card-title">Please select the disclosures on the left side to begin</h4>
                                  </div> 
                              </div>
                          </div>  
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div><!-- end row -->


                
            </div>
            <!-- end -->
        </div>
        <!-- end col -->  
    </div>
    <!-- end row -->
  </div>
  <!-- end main content-->






<div class="row">
    <div class="col-lg-12">
        <div class="card1">
       
            <div class="card-body">

              <div class=" live-preview col-lg-4">
                  
                  <div class="d-flex flex-wrap gap-2">
                    <div class="rb-1  " ><a   class="btn dash-btn-1" >Back</a></div> 
                   
                     
                     
                  </div>
                  
              </div>
                
                <div class="mr-btn live-preview col-lg-4">
                  
                    <div class="d-flex flex-wrap gap-2">
                      <div class="rb-1  " ><a   class="btn dash-btn-1" >Save</a></div> 
                      <div class="rb-1  " ><a   class="btn dash-btn-1" >Save and Next</a></div> 
                    
                       
                       
                    </div>
                    
                </div>

            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->

  

</div>
<!-- END layout-wrapper -->

















<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
  <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->

</div>
<section>
 
</section>
