<section style="background-color: #fff;">
  
    
    <ul class="trstlogo nav">
      <img class="trst" src="./assets/img/trst_color.png">
    </ul>
  
  
  </section>
  
  
  <!-- The video -->
  <video autoplay muted loop id="myVideo">
  <source src="./assets/img/final_1_1.mp4" type="video/mp4">
  </video>
  
  <!-- Optional: some overlay text to describe the video -->
  
  
  <section>
  
  
  
  <div class="bg-img">
  
  
  <div class="container">
    <div class="row" style="margin-right: 80px;">
  
  
  
      <div class="register-card card col-md-6"
      style="box-shadow: 5px 5px 5px 5px #0960386e;background-color: #0cb0638f;color: #fff;padding: 10px 25px 10px 25px;border-radius: 30px; margin-left: 100px;">
      
        <img class="profile-card__img" src="./assets/img/regislogo.png" alt="profile card" >
   
      <form  [formGroup]="regform" >
       <div class="form-group">
         <div class="row">
           <div class="col-md-5 textname" >
             <label>Organization Name</label>
           </div>
           <div class="col-md-1" >
             <label style="color: #000;">:</label>
           </div>
           <div class="col-md-6 " >
             <input style="border-radius: 25px; border: 1px solid" type="text" class="form-control" formControlName="OrganizationName" >
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <div class="col-md-5 textname" >
             <label>Organization Type</label>
           </div>
           <div class="col-md-1" >
             <label style="color: #000;">:</label>
           </div>
           <div class="col-md-6 " >
             <input style="border-radius: 25px; border: 1px solid" type="text" class="form-control" formControlName="OrganizationType" >
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <div class="col-md-5 textname" >
             <label>Head Office</label>
           </div>
           <div class="col-md-1" >
             <label style="color: #000;">:</label>
           </div>
           <div class="col-md-6 " >
             <input style="border-radius: 25px; border: 1px solid" type="text" class="form-control" formControlName="HeadOffice" >
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <div class="col-md-5 textname" >
             <label>Country</label>
           </div>
           <div class="col-md-1" >
             <label style="color: #000;">:</label>
           </div>
           <div class="col-md-6 " >
             <input style="border-radius: 25px; border: 1px solid;" type="text" class="form-control" formControlName="Country" >
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <div class="col-md-5 textname" >
             <label>Pincode</label>
           </div>
           <div class="col-md-1" >
             <label style="color: #000;">:</label>
           </div>
           <div class="col-md-6 " >
             <input style="border-radius: 25px; border: 1px solid" type="number" class="form-control" formControlName="Pincode" >
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <div class="col-md-5 textname" >
             <label>Contact Name</label>
           </div>
           <div class="col-md-1" >
             <label style="color: #000;">:</label>
           </div>
           <div class="col-md-6 " >
             <input style="border-radius: 25px; border: 1px solid" type="text" class="form-control" formControlName="ContactName" >
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <div class="col-md-5 textname" >
             <label>Email</label>
           </div>
           <div class="col-md-1" >
             <label style="color: #000;">:</label>
           </div>
           <div class="col-md-6 " >
             <input style="border-radius: 25px; border: 1px solid" type="email" class="form-control" formControlName="EmailId">
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <div class="col-md-5 textname" >
             <label>Contact Number</label>
           </div>
           <div class="col-md-1" >
             <label style="color: #000;">:</label>
           </div>
           <div class="col-md-6 " >
             <input style="border-radius: 25px; border: 1px solid" type="number" class="form-control" formControlName="ContactNumber" >
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <div class="col-md-5 textname" >
             <label>Designation</label>
           </div>
           <div class="col-md-1" >
             <label style="color: #000;">:</label>
           </div>
           <div class="col-md-6 " >
             <input style="border-radius: 25px; border: 1px solid" type="text" class="form-control" formControlName="Designation" >
           </div>
         </div>
       </div>
       <div class="form-group">
        <div class="row">
          <div class="col-md-6 textname-1" >
            Already a member?    <a style="color: #fff;text-decoration: underline !important;cursor: pointer;"  [routerLink]="['/sign-in']"> Login </a> 
          </div>
          <div class="col-md-6 " >
            <button  type="submit" [disabled]="regform.invalid" data-toggle="modal" data-target="#registerModal"
     style="    background-image: linear-gradient(84deg, #1e4b5e, #166d5a);border-radius: 15px; color:white;font-size:large;" class="btn btn-primary"
     (click)="Register()">Register</button>
          </div>
        </div>
      </div>
  
       
      </form>
     
    </div>
  
  
  
      
  
  
  
     
  
            
   
    </div>
   
  
    
  
    </div>
  
  
  
  
  </div>
  </section>
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content" style="margin-bottom: 182px;">
      
         <div class="card-body p-4 text-center" style="margin-top: -14px;">
           <div class="avatar-lg mx-auto mt-2">
               <div class="avatar-title bg-light text-success display-3 rounded-circle">
                   <i class="ri-checkbox-circle-fill"></i>
               </div>
           </div>
           <div class="mt-4 pt-2">
               <h4>Well done !</h4>
               <p class="text-muted mx-4">Please Check your Mail.</p>
               <div class="mt-4">
                 <a type="button" class="btn btn-success" [routerLink]="['/sign-in']" >Ok</a>
               </div>
           </div>
       </div>
       
       </div>
     </div>
   </div>