body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
   
  
    /* Control the height of the image */
    min-height: 613px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  
  
  
  
  .btn:hover {
    opacity: 1;
  }
  
  
  
  .card {
      text-align: center;
      border: 1px solid lightgray;
      border-radius: 8px;
      background-color: #0cb06354;
      position: relative;
    }
    th {
      padding:5px;
      font-family:sans-serif;
      text-align: left;
    }
    td{
      padding:5px;
      font-family:sans-serif;
      text-align: left;
    }
  .profile-card__img {
      width: 75px;
      height: 75px;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(-60%);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 4;
      
  }
  
  
  .profile-card__img img {
      height: 113px;
      width: 85%;
  }
  .trst{
      z-index: 1;
      width: 290px;
      height: 140px;
  
  }
  /* .register-card {
    margin-top: 22px;
  } */
  .textname{
    text-align:start;
    font-size: 18px;
    color: #000;
  }
  .textname-1{
    text-align: right;
    font-size: 15px;
    color: #000;
    margin-top: 9px;
    margin-right: 0px;
  }
  /* .wholeform{
    padding: 20px;
  } */
  
  .trstlogo img {
    height: 90px;
      width: 15%;
      object-fit: cover;
  }
  
  .about-section {
    width: 100%;
      height: 613px;
      object-fit: cover;
      z-index: -1;
  }
  .forms-new {
    z-index: 999;
  }
  .textname-1{
    text-align: right;
    font-size: 15px;
    color: #000;
    margin-top: 9px;
    margin-right: 0px;
  }