          <div class="container-fluid">

              <!-- start page title -->
     

              <div class="row"> 
       
      <!-- End Page-content -->
      



      



      <div class="row dash-nft">
          <div class="col-xxl-10" >


           
              
          


              <div class="row">
                           
                  
              
              <div class="col-xl-12" style="    padding: 64px 68px 121px 300px;">
                <div class="card" style="padding: 30px;">
                
                    <div class="card-body form-steps">

<form [formGroup]="reportform">
                     <div style="margin-bottom: 30px;">
                        <p style="font-weight: 900;font-size: 20px;">Report Name</p>


                        <input style="padding:20px;font-size: 15px;" type="text" class="form-control" id="steparrow-gen-info-email-input" placeholder="Name" formControlName="ReportName">
    
                       
                     </div>

                   


                    
                    <div class="row" style="margin-bottom: 30px;">
                        <p style="font-weight: 900;font-size: 20px;">Report Period</p>
                        <div class="col-md-6">
                            <p style="font-weight: 400;font-size: 15px;">Start Date:</p>

                            <input type="date" id="start" name="trip-start" style="padding:10px;font-size: 15px;border-radius: 10px;"
                            formControlName="StartDate"   >
                              
                        </div>
                        <div class="col-md-6">
                            <p style="font-weight: 400;font-size: 15px;">End Date:</p>

<input type="date" id="start" name="trip-start"
        style="padding:10px;font-size: 15px;border-radius: 10px;" formControlName="EndDate">
                        </div>
                    </div>

                    <button type="button" class="btn btn-soft-success waves-effect waves-light" style="padding: 10px;font-size: 15px;float: right;" (click)="next()" [disabled]="reportform.invalid">Next</button>
                </form>   
                </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
                
              </div> <!-- end row-->





     
          </div><!--end col-->



          

       
      </div>
      <!--end row-->


    
  </div>
  <!-- end main content-->

</div>
<!-- END layout-wrapper -->



<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
  <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->

