
            <div class="container-fluid">

                <!-- start page title -->
       

                <div class="row"> 
         
        <!-- End Page-content -->
        



        



        <div class="row dash-nft">
            <div class="col-xxl-10" >


             
                
            


                <div class="row">



              

                
                             
                    
                
                <div class="col-xl-8" style="    padding: 64px 68px 75px 120px;     margin: 0px 0px 0px 240px; " >
                  <div class="card">
                    
                      <div class="get-card-1 card-body form-steps">


                        
                          <div class="d-flex mb-4 align-items-center">
                              <div class="gri-main-2 flex-shrink-0">
                                  <img src="./assets/img/GRI logo@2x.png" alt="" class=" " />
                              </div>
                             
                          </div>

                          <div class="flex-grow-1 ms-2">
                            <h5 class="gri-text card-title mb-1">The Global Reporting Initiative (GRI) Standards 2020</h5>
                          
                        </div>
                        
                          
                   

                    


                      <!-- <select class="form-select form-select-lg" aria-label=".form-select-lg example">
                        <option selected>Open this select menu</option>
                        <option value="1"><img src="./assets/images/bg-d.png"></option>
                        <option value="2">Two</option>
                      
                    </select> -->
                    <div class="card-body collapse show" id="collapseExample2">
                      <div class="d-flex">
                          <div class="flex-shrink-0">
                              <i class="ri-checkbox-circle-fill text-success"></i>
                          </div>
                          <div class="flex-grow-1 ms-2 text-muted" style="font-size: 15px;">
                            Help you communicate your impacts on key sustainability issues with a broad range of stakeholders  
                              
                          </div>
                      </div>
                      <div class="d-flex mt-2">
                          <div class="flex-shrink-0">
                              <i class="ri-checkbox-circle-fill text-success"></i>
                          </div>
                          <div class="flex-grow-1 ms-2 text-muted" style="font-size: 15px;">
                            Are applicable across industries, countries, company sizes, public and private firms
                          </div>
                      </div>
                      <div class="d-flex mt-2">
                          <div class="flex-shrink-0">
                              <i class="ri-checkbox-circle-fill text-success"></i>
                          </div>
                          <div class="flex-grow-1 ms-2 text-muted" style="font-size: 15px;">
                            They are the first and most widely adopted standards for sustainability reporting globally
                          </div>
                      </div>
                  </div>
                      <!-- end card body -->
                      <button type="button" class="btn btn-primary waves-effect waves-light" style="margin-left: 180px;     padding: 10px 32px 10px 28px;     background-color: #000;
                      font-size: 16px;" (click)="next()">Next</button>
                    </div>
                  </div>
                  <!-- end card -->
              </div>
              <!-- end col -->
                  
                </div> <!-- end row-->





       
            </div><!--end col-->



            

         
        </div>
        <!--end row-->


        <!-- <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by TRST01
                        </div>
                    </div>
                </div>
            </div>
        </footer> -->
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->



<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->








