.logo-lg img {
    height: 70px;
}
.logout-home {
    margin-top: 30%;
}
.navbar-nav {
    margin-top: 30px;
}
.home-main {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.report-card {


   
    padding: 20px 20px 40px ;
    border-radius: 20px;
    box-shadow:  inset 0px 0px 2px rgb(130, 130, 130), 0px 0px rgb(22 75 84), inset -3px -2px 0px 1px rgb(22 109 90);
}

.report-card:hover {
    background-image: linear-gradient(180deg, #166d5a, #164b54);
    border-radius: 20px !important;
    color: #fff !important;
    border-radius: 20px;
    box-shadow: inset 0px 0px 2px rgb(130 130 130), 0px 0px rgb(255, 255, 255), inset -3px -2px 0px 1px rgb(251, 248, 255);
}

.report-img-1 {
    border-radius: 20px !important;
}
.report-text::after {
    color: #fff;
}
.next-botton {
    margin-left: 25px;
    color: #fff;
    margin-top: 10px;
}
.trash-main {
    margin-left: 185px;
}
.trash-main  i{
   font-size: 25px;
   color: #fff;
   margin-top: 10px;
}
.report-view {
    background-image: linear-gradient(88deg, #166b5a, #164c54);
    border-radius: 10px 10px 0px 0px;
}
.report-view-card {
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
}
.report-title {
    color: #fff;
    margin-top: 10px;
    margin-left: 35px;
}
.report-badge {
    margin-left: 80px;
    font-size: 16px;
    margin-top: 10px;
}
.report-img {
    height: 50px;
    width: 50%;
    object-fit: contain;
    margin-left: -50px;
}
.report-botton a {
    padding: 10px 50px 10px 10px;
}
.rb-1 {
    margin-left: 20px;
}
/* .rb-2 {
    margin-left: 15px;
} */
.rb-3 {
    margin-left: 25px;
}
.report-images {
    padding-top: 15px;
    padding-bottom: 15px;
}
.rt-1 a {
    text-align: center;
}
.swiper-slide {
    margin-left: 70px;
}
.gri-img {
    height: 175px;
    width: 75%;
    object-fit: contain;
    margin-left: 35px;
}
.framework {
    text-align: center;
    color: #fff;
}
.framework-card {
    padding: 25px;
    background-image: linear-gradient(180deg, #166d5a, #164b54);
    border-radius: 0px 0px 50px 50px;
}
.profile-card {
    background-color: #164b54;
    border-radius: 20px;
}
.get-arrow {
    font-size: 27px;
    margin-top: 74px;
    margin-left: 25px;
}
.get-text {
    font-size: 35px;
}
.get-card {
    margin-left: 20px;
}
.get-card-1 {
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
}
.get-drop .btn {
    padding: 10px 14px 20px 10px;
    background-image: linear-gradient(180deg, #166d5a, #164b54);
    font-size: 18px;
}
.get-drop  ul {
    width: 100%;
}
.get-drop ul li {
    font-size: 16px;
}
.get-drop ul li img {
    width: 25%;
    height: 40px;
    object-fit: contain;
}
.get-card-gri {
    margin-top: 35px;
}
.gri-main-2 img {
    width: 50%;
    height: 100px;
    object-fit: contain;
    margin-left: 150px;
}
.gri-text {
    font-size: 20px;
    text-align: center;
}