<div class="flex flex-col max-w-600 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="cursor-move flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{title}}</div>
        <button mat-icon-button (click)="onClose()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col flex-auto p-6 sm:p-8 gap-4">
        <!-- Compose form -->
        <form class="flex flex-col flex-auto overflow-y-auto" [formGroup]="userForm">

            <div class="flex flex-col md:flex-row gap-4">
                <!-- Name -->
                <mat-form-field class="flex flex-col flex-auto">
                    <mat-label>User Name</mat-label>
                    <input matInput [formControlName]="'UserName'">
                </mat-form-field>

                <mat-form-field class="flex flex-col flex-auto">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControlName]="'Password'">
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="flex flex-col flex-auto">
                    <mat-label>First Name</mat-label>
                    <input matInput [formControlName]="'FirstName'">
                </mat-form-field>

                <mat-form-field class="flex flex-col flex-auto">
                    <mat-label>Middle Name</mat-label>
                    <input matInput [formControlName]="'MiddileName'">
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="flex flex-col flex-auto">
                    <mat-label>Last Name</mat-label>
                    <input matInput [formControlName]="'LastName'">
                </mat-form-field>

                <mat-form-field class="flex flex-col flex-auto">
                    <mat-label>Email Id</mat-label>
                    <input matInput [formControlName]="'EmailId'">
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <mat-form-field class="flex flex-col flex-auto">
                    <mat-label>Mobile No</mat-label>
                    <input matInput formControlName="MobileNumber">
                </mat-form-field>
                <mat-form-field class="flex flex-col flex-auto">
                    <mat-label>Role</mat-label>
                    <mat-select [formControlName]="'RoleId'">
                        <mat-option *ngFor="let role of roleItems" [value]="role.Id">
                            {{role.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </form>
        <!-- Actions -->
        <div class="flex flex-col sm:flex-row justify-end">
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Save as draft -->
                <button class="sm:mx-3" mat-stroked-button mat-dialog-close=false (click)="onCancel()">
                    <span>Cancel</span>
                </button>
                <!-- Send -->
                <button class="order-first sm:order-last" mat-flat-button [color]="'primary'" (click)="onSave()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
