<div class="flex flex-auto items-center justify-center overflow-hidden">

   
    <div class="row dash-nft">
        <div class="col-xxl-10" style="box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
            <div class="row mb-3 pb-1">
                <div class="col-12">
                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                        <div class="flex-grow-1">
                            <h4 class="fs-16 mb-1">    {{msg}} {{name}} !</h4>
                           
                        </div>
                        <div class="mt-3 mt-lg-0">
                            <form action="javascript:void(0);">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ..."                                                            aria-label="Recipient's username">
                                        <button class="btn " type="submit"><i
                                                class="mdi mdi-magnify"></i></button>
                                    </div>
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                    </div><!-- end card header -->
                </div>
                <!--end col-->
            </div>
            
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="report-img-1 card card-animate">
                        <div class="report-card card-body ">
                            <div class=" ">
                                <div class="report-img-1 avatar-sm flex-shrink-0">
                                    <span class="report-img   rounded fs-3">
                                      <img src="./assets/img/report.png" alt="" >
                                    </span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center"  [routerLink]="['/framework']">
                              <div class="flex-shrink-0">
                              <h5 class="report-text-1 report-text -text text-muted fs-14 mb-0 text-center">
                                  New <br>Report
                                </h5>
                            </div>
                              
                          
                           
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div>
                </div><!-- end col -->
                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="report-img-1 card card-animate">
                        <div class="report-card card-body ">
                            <div class=" ">
                                <div class="report-img-1 avatar-sm flex-shrink-0">
                                    <span class="report-img   rounded fs-3">
                                      <img src="./assets/img/template@2x.png" alt="" >
                                    </span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                              <div class="flex-shrink-0">
                                <h5 class="report-text-2 report-text -text text-muted fs-14 mb-0 text-center">
                                  New <br>Template
                                </h5>
                            </div>
                              
                            </div>
                           
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="report-img-1 card card-animate">
                        <div class="report-card card-body ">
                            <div class=" ">
                                <div class="report-img-1 avatar-sm flex-shrink-0">
                                    <span class="report-img   rounded fs-3">
                                      <img src="./assets/img/brochure@2x.png" alt="" >
                                    </span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                              <div class="flex-shrink-0">
                                <h5 class="report-text-3 report-text -text text-muted fs-14 mb-0 text-center">
                                    Universal <br>Materiality
                                </h5>
                            </div>
                              
                            </div>
                           
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="report-img-1 card card-animate">
                        <div class="report-card card-body ">
                            <div class=" ">
                                <div class="report-img-1 avatar-sm flex-shrink-0">
                                    <span class="report-img   rounded fs-3">
                                      <img src="./assets/img/books@2x.png" alt="" >
                                    </span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                              <div class="flex-shrink-0">
                                <h5 class="report-text-4 report-text -text text-muted fs-14 mb-0 text-center">
                                    ESG <br>Library
                                </h5>
                            </div>
                              
                            </div>     
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!--end row-->


       
                <div class="col-xl-12">
                    <div class="card ">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Report Collaborators</h4>
                            <div class="flex-shrink-0">
                                <button type="button" class="btn btn-soft-info btn-sm">
                                    <i class="ri-file-list-3-line align-middle"></i> Generate Report
                                </button>
                            </div>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <div class="table-responsive table-card">
                                <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
                                    <thead class="text-muted table-light">
                                        <tr>
                                            <th scope="col">Showing Collaborators for</th>
                                            <th scope="col">Framework</th>
                                            <th scope="col">Total Collaborators</th>
                                            <th scope="col">External Contributors</th>
                                       
                                            <th scope="col">Data completed by</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a  class="fw-medium link-primary"> TRSTBLOCKCHAIN </a>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0 me-2">
                                                      <img src="./assets/img/users-icon-1.png" alt="" class="avatar-xs rounded-circle" />
                                                    </div>
                                                    <div class="flex-grow-1">CUSTOM</div>
                                                </div>
                                            </td>
                                            <td style="text-align: center; font-size: 16px;">1</td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="text-success">0</span>
                                            </td>
                                          
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-success">1</span>
                                            </td>
                                           
                                        </tr><!-- end tr -->
                                        <tr>
                                          <td>
                                            <a  class="fw-medium link-primary"> TRSTBLOCKCHAIN </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="./assets/img/users-icon-1.png" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">CUSTOM</div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; font-size: 16px;">1</td>
                                        <td style="text-align: center; font-size: 16px;">
                                            <span class="text-success">0</span>
                                        </td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-warning">Pending</span>
                                            </td>
                                           
                                        </tr><!-- end tr -->
                                        <tr>
                                          <td>
                                            <a  class="fw-medium link-primary"> TRSTBLOCKCHAIN </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="./assets/img/users-icon-1.png" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">CUSTOM</div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; font-size: 16px;">1</td>
                                        <td style="text-align: center; font-size: 16px;">
                                            <span class="text-success">0</span>
                                        </td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-success">1</span>
                                            </td>
                                           
                                        </tr><!-- end tr -->
                                        <tr>
                                          <td>
                                            <a  class="fw-medium link-primary"> TRSTBLOCKCHAIN </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="./assets/img/users-icon-1.png" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">CUSTOM</div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; font-size: 16px;">1</td>
                                        <td style="text-align: center; font-size: 16px;">
                                            <span class="text-success">0</span>
                                        </td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-danger">Uncompleted</span>
                                            </td>
                                           
                                        </tr><!-- end tr -->
                                        <tr>
                                          <td>
                                            <a  class="fw-medium link-primary"> TRSTBLOCKCHAIN </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0 me-2">
                                                    <img src="./assets/img/users-icon-1.png" alt="" class="avatar-xs rounded-circle" />
                                                </div>
                                                <div class="flex-grow-1">CUSTOM</div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; font-size: 16px;">1</td>
                                        <td style="text-align: center; font-size: 16px;">
                                            <span class="text-success">0</span>
                                        </td>
                                            <td style="text-align: center; font-size: 16px;">
                                                <span class="badge badge-soft-success">1</span>
                                            </td>
                                            
                                        </tr><!-- end tr -->
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div>
                        </div>
                    </div> <!-- .card-->
                </div> <!-- .col-->

                

    
                <div class="col-xxl-12">
                    <div class="swiper marketplace-swiper rounded gallery-light">
                     
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">

                   


                                <div class="row">
                                    <div class="col-sm-5">
                                      <div class="card">
                                        
                                        <div class="card-body report-view-card">
                                            <div class="d-flex pt-2 pb-4 report-view">
                                           
                                                <h5 class="report-title card-title">TRST01</h5>
                                                <div class="trash-main">
                                                    <i class="las la-trash-alt"></i>
                                                </div>
                                                

                                                <div class="next-botton">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                </div>
                                                
                                            </div>
                                         
                                            
                                        <div class="uncompleted-card row g-0">
                                            <div class="report-img avatar-xs rounded-circle col-md-6">
                                                <img src="./assets/img/GRI logo@2x.png" class="img-fluid rounded-start" alt="...">
                                              </div>
                                              <div class="col-md-6">
                                                <div class="card-body">
                                                 <span class="report-badge badge badge-soft-danger">Uncompleted </span>
                                                </div>
                                              </div>
                                        </div>
                                            <div class="uncompleted-card-1 row">
                                                
                                                       <div class="rb-1  col-sm-3" ><a   class="btn dash-btn-1" >Add</a></div> 
                                                       <div class="rb-2  col-sm-3"><a   class="btn dash-btn-1">Remove</a></div> 
                                                       <div class="rb-3  col-sm-3"><a   class="btn dash-btn-1">Update</a></div> 
                                           
                                            </div>
                                          
                                        </div>
                                      </div>
                                    </div>


                                    <div class="col-sm-5">
                                        <div class="card">
                                          
                                            <div class="card-body report-view-card">
                                                <div class="d-flex pt-2 pb-4 report-view">
                                               
                                                    <h5 class="report-title card-title">TRST01</h5>
                                                    <div class="trash-main">
                                                        <i class="las la-trash-alt"></i>
                                                    </div>
                                                    

                                                    <div class="next-botton">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                                    </div>
                                                    
                                                </div>
                                             
                                                
                                            <div class="uncompleted-card row g-0">
                                                <div class="report-img avatar-xs rounded-circle col-md-6">
                                                    <img src="./assets/img/GRI logo@2x.png" class="img-fluid rounded-start" alt="...">
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="card-body">
                                                     <span class="report-badge badge badge-soft-danger">Uncompleted </span>
                                                    </div>
                                                  </div>
                                            </div>
                                                <div class="uncompleted-card-1 row">
                                                    
                                                           <div class="rb-1  col-sm-3" ><a   class="btn dash-btn-1" >Add</a></div> 
                                                           <div class="rb-2  col-sm-3"><a   class="btn dash-btn-1">Remove</a></div> 
                                                           <div class="rb-3  col-sm-3"><a   class="btn dash-btn-1">Update</a></div> 
                                               
                                                </div>
                                              
                                            </div>
                                        </div>
                                      </div>


                                      



                                  </div>
                            </div>



                      
                           
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div><!--end col-->


           
        </div><!--end col-->



        

        <div class="col-xxl-2">
      

            <div class="card">
                <div class="framework-card card-header d-flex align-items-center">
                    <h6 class="framework card-title mb-0 flex-grow-1">Frameworks</h6>
                   
                </div>
                <div class="card-body">
                    <div class="table-responsive table-card">
                        <img _ngcontent-rxj-c53="" src="./assets/img/GRI logo@2x.png" alt="" class="gri-img avatar-xs rounded-circle">

                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div>
</div>