.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f6f4f4;
    font-family: 'Open Sans', sans-serif;
    /* margin-top: 85px; */
  }
  .cardStyle {
    width: 500px;
    border-color: white;
    background-color: #0cb0638f;
    border-radius: 20px;
    padding: 36px 0;
    margin: 59px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
  #signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  }
  .formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
  }
  .inputLabel {
  font-size: 14px;
  color: #fff;
  margin-bottom: 6px;
  margin-top: 24px;
  }
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
  }
  input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
  }
  .buttonWrapper {
  margin-top: 40px;
  }
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  .submitButton:disabled,
  button[disabled] {
  border: 1px solid #cccccc;
  
  color: rgb(255, 255, 255);
  background-image: linear-gradient(84deg, #1e4b5e, #166d5a);
  }
  
  #loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .trst {
  width: 15%;
  }