

<section style="background-color: #fff;">
    <img class="trst" src="./assets/img/trst_color.png">
  </section>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  
  
  <div class="container" style="margin-top:100px ;">
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <div class="panel panel-default" style="    background-color: #0cb0638f;     border-radius: 20px;">
                <div class="panel-body">
                  <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Forgot Password?</h2>
                    <p>You can reset your password here.</p>
                    
                    <div class="panel-body">
      
                      <form [formGroup]="forgotform"  role="form" autocomplete="off" class="form" method="post">
      
                        <div class="form-group">
                          <div class="input-group">
                            <span class=""></span>
                            <input id="email" name="email" placeholder="email address" class="form-control" formControlName="EmailId" type="email">
                          </div>
                        </div>
                        <div class="form-group">
                          <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit" data-toggle="modal" data-target="#registerModal" (click)="onreset()" [disabled]="!forgotform.valid">
                        </div>
                        
                        <input type="hidden" class="hide" name="token" id="token" value=""> 
                        <a [routerLink]="['/login']"> Already have login and password? Login here </a>
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  
  
  
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="margin-bottom: 182px;">
     
        <div class="card-body p-4 text-center" style="margin-top: -14px;">
          <div class="avatar-lg mx-auto mt-2">
              <div class="avatar-title bg-light text-success display-3 rounded-circle">
                  <i class="ri-checkbox-circle-fill"></i>
              </div>
          </div>
          <div class="mt-4 pt-2">
              <h4>Well done !</h4>
              <p class="text-muted mx-4">Verification Code has been sent to your Mail.</p>
              <div class="mt-4">
                <a type="button" class="btn btn-success" >Ok</a>
              </div>
          </div>
      </div>
      
      </div>
    </div>
  </div>
  
  