
            <div class="container-fluid">

                <!-- start page title -->
       

                <div class="row"> 
         
        <!-- End Page-content -->
        



        



        <div >
            <div  >


             
                
            


                <div class="row">
                             
                    
                
                <div class="col-xl-8" style="     padding: 130px 0px 320px 175px;;    margin: 0px 0px 0px 150px; " >
                  <div class="card">
                      <div class="get-card card-header">
                          <h4  style="text-align: center;"  class="get-text card-title mb-0">Get Started<i class="get-arrow ri-arrow-right-line"></i> </h4>
                      </div><!-- end card header -->
                      <div class="get-card-1 card-body form-steps">


                        
                          <div class="frame-card d-flex mb-4 align-items-center">
                              <div class=" flex-shrink-0">
                                  <img src="assets/img/framework.png" alt="" class="avatar-sm " />
                              </div>
                              <div class="flex-grow-1 ms-2">
                                  <h5 class="card-title mb-1">Use an existing reporting framework</h5>
                                
                              </div>
                          </div>
                        
                          <p class="card-text text-muted" style="text-align: center;">Browse through our library of frameworks</p>
                         
                   

                    


                      <!-- <select class="form-select form-select-lg" aria-label=".form-select-lg example">
                        <option selected>Open this select menu</option>
                        <option value="1"><img src="./assets/images/bg-d.png"></option>
                        <option value="2">Two</option>
                      
                    </select> -->
                  
                    <div class="get-card-gri">
                    <div class="get-drop dropdown">
                      <button class="btn btn-success 
                              dropdown-toggle" type="button" 
                              id="dropdownMenuButton" 
                              data-toggle="dropdown"
                              aria-haspopup="true" 
                              aria-expanded="false">
                          Select Here
                      </button>
            
                      <ul class="dropdown-menu" 
                          aria-labelledby="dropdownMenuButton">
                          <li class="dropdown-item" (click)="next()">
                            
                              <img src=
          "assets/img/GRI logo@2x.png"
                              width="20" height="15" > GRI Standards 2022</li>
                         
                         
                          
                      </ul>

                      
                  </div>
              
                  

                      </div>
                      <!-- end card body -->
                      <!-- <button type="button" class="btn btn-primary waves-effect waves-light" style="margin-left: 100px;     padding: 10px 32px 10px 28px;     background-color: #000;
                      font-size: 16px;" (click)="next()">Next</button> -->
                    </div>
                  </div>
                  <!-- end card -->
              </div>
              <!-- end col -->
                  
                </div> <!-- end row-->





       
            </div><!--end col-->



            

         
        </div>
        <!--end row-->


        <!-- <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by TRST01
                        </div>
                    </div>
                </div>
            </div>
        </footer> -->
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->



<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->








