
// Do not add padding-left to the first column
.mat-column-Edit {
    width: 5%;
    padding-right: 5px !important;
}

.mat-column-UserName {
    width: 7%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-RoleName {
    width: 7%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-FirstName {
    width: 8%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-LastName {
    width: 8%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-EmailId {
    width: 15%;
    padding: 0px 5px !important;
    word-break: break-all;
}

.mat-column-MobileNumber {
    width: 8%;
    padding: 0px 5px !important;
    word-break: break-all;
}

.mat-column-ViewYN {
    width: 4%;
    padding: 0px 5px !important;
    word-break: break-all;
}

.mat-column-CreatedDate {
    width: 8%;
    padding: 0px 5px !important;
}

.mat-column-CreatedByUser {
    width: 10%;
    padding: 0px 5px !important;
    word-wrap: break-word;
}

.mat-column-UpdatedDate {
    width: 8%;
    padding: 0px 5px !important;
}

// Do not add padding-right to the last column
.mat-column-UpdatedByUser {
    width: 10%;
    padding-left: 5px !important;
    word-wrap: break-word;
}
